@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html {
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* background-color: #f9d9f5; */
  background-image: url('bg2.png');
}

a, a:active, a:visited {
  color: #000000;
  font-weight: bold;
}

h2 {
	color: #505050;
	font-size: 70px;
	font-family: 'Poiret One';
	text-align: center;
}
.icon-btn {
	float: "left";
	width: 80px;
	height: 80px;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 40px;
	line-height: 70px;
	border-radius: 45px;
	display: inline-block;
	margin: 5px;
}
.twitter {
	color: #4099FF;
}
.facebook {
	color: #3B5998;
}
.google-plus {
	 color: #DB5A3C;
}
.instagram {
	color: #5C3D2E;
}
.github {
	color: #4183C4;
}
.icon-btn:hover {
	transform: scale(1.10);
	color: #FFFFFF;
}
.twitter:hover {
	background-color: #4099FF;
}
.facebook:hover {
	background-color: #3B5998;
}
.google-plus:hover {
	 background-color: #DB5A3C;
}
.instagram:hover {
	background-color: #5C3D2E;
}
.github:hover {
	background-color: #4183C4;
}
	